@inject PedidosService pedidosService

<div class="input-group">
    <input type="text" class="form-control" placeholder="Ingrese nombre del empleado" aria-label="Recipient’s username with two button addons"
           @bind-value="nombre"
           @bind-value:event="oninput">

    <button @onclick="buscar" class="btn btn-outline-dark" type="button">Buscar</button>
    <button @onclick="limpiar" class="btn btn-outline-danger" type="button">Limpiar</button>
</div>
<h3>SearchEmpleado</h3>

@code {
    public string nombre { get; set; } = string.Empty;
    private async Task buscar()
    {
        await pedidosService.notificarBusqueda(nombre);
    }
    private async Task limpiar()
    {
        nombre = string.Empty;
        await pedidosService.notificarBusqueda(nombre);
    }
}
